.male {
  color: #45559d;
}

.female {
  color: #ee82ca;
}

.other {
  background-image: linear-gradient(to bottom right, #ff8eb8, #f1a280, #f7ea95, #87ede6, #857ae3, #d97ed9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}