<div class="container">
    <h2>Add Employee</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="firstName" name="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="lastName" name="lastName">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email">
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <input type="text" class="form-control" id="gender" required [(ngModel)]="gender" name="gender">
      </div>
      <div class="form-group">
        <label for="salary">Salary:</label>
        <input type="number" class="form-control" id="salary" required [(ngModel)]="salary" name="salary">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  