<br>
<br>
<div class="divmid">
  <div class="inside">
    <div class="divBody">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2 style="font-weight: bold;">Updating Employee</h2>
      </div>
      <hr>

      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="first_name">First Name:</label>
          <input formControlName="first_name" type="text" class="form-control" id="first_name"
            [ngClass]="{ 'is-invalid': employeeForm.controls.first_name.invalid && employeeForm.controls.first_name.touched }" />
          <div *ngIf="employeeForm.controls.first_name.invalid && employeeForm.controls.first_name.touched"
            class="invalid-feedback">
            First name is required.
          </div>
        </div>
      
        <div class="form-group">
          <label for="last_name">Last Name:</label>
          <input formControlName="last_name" type="text" class="form-control" id="last_name"
            [ngClass]="{ 'is-invalid': employeeForm.controls.last_name.invalid && employeeForm.controls.last_name.touched }" />
          <div *ngIf="employeeForm.controls.last_name.invalid && employeeForm.controls.last_name.touched"
            class="invalid-feedback">
            Last name is required.
          </div>
        </div>
      
        <div class="form-group">
          <label for="email">Email:</label>
          <input formControlName="email" type="email" class="form-control" id="email"
            [ngClass]="{ 'is-invalid': employeeForm.controls.email.invalid && employeeForm.controls.email.touched }" />
          <div *ngIf="employeeForm.controls.email.invalid && employeeForm.controls.email.touched" class="invalid-feedback">
            Email is required and must be valid.
          </div>
        </div>
      
        <div class="form-group">
          <label for="gender">Gender:</label>
          <select formControlName="gender" class="form-control" id="gender"
            [ngClass]="{ 'is-invalid': employeeForm.controls.gender.invalid && employeeForm.controls.gender.touched }">
            <option value="">Select a gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
          <div *ngIf="employeeForm.controls.gender.invalid && employeeForm.controls.gender.touched" class="invalid-feedback">
            Gender is required.
          </div>
        </div>
      
        <div class="form-group">
          <label for="salary">Salary:</label>
          <input formControlName="salary" type="number" class="form-control" id="salary"
            [ngClass]="{ 'is-invalid': employeeForm.controls['salary'].invalid && employeeForm.controls['salary'].touched }" />
      
          <div *ngIf="employeeForm.controls['salary'].invalid && employeeForm.controls['salary'].touched"
            class="invalid-feedback">
            Salary is required and must be greater than or equal to 0.
          </div>
      <br>
          <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Update</button>
        </div>
      </form>
      
  </div>
</div>
</div>